pyqtgraph
autoflake
pyqt6
PyQt6-Qt6
PyQt6-WebEngine
PyQt6-WebEngine-Qt6
thefuzz
iterfzf
pyqtdarktheme
python-Levenshtein
psutil
qt-material
PyOpenGL
PyOpenGL_accelerate
psutil
numpy
pyinstrument
yappi
protobuf==3.20.1
